<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="addAdminModal" class="modal fade" id="addAdminModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Please provide email address</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" th:action="@{/admin/addAdmin}" th:object="${user}">
                <div class="modal-body">
                    <input type="hidden" th:field="*{id}"/>
                    <input class="form-control" type="email" placeholder="email" th:field="*{email}"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Add</button>

                </div>
            </form>
        </div>
    </div>
</div>
</html>