<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <div th:insert="fragments/head :: head"></div>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div class="container">
    <br>
    <h2>Event details</h2>
    <br>
    <div class="jumbotron">
        <div class="row" style="margin-top:20px">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <h1><span th:text="${event.title}"></span></h1>
                <h5><span th:text="${event.startDate+' '+event.city}"></span></h5>
                <br>
                <br>
                <div class="container">
                    <label>Description:</label><br>
                    <h6><span th:text="${event.description}"></span></h6>
                </div>
                <br>
                <div class="container">
                    <label>Start:</label><br>
                    <h6><span th:text="${#dates.format(event.startDate, 'dd-MM-yyyy - (HH:mm)')}"></span></h6>
                </div>
                <br>
                <div class="container">
                    <label>End:</label><br>
                    <h6><span th:text="${#dates.format(event.endDate, 'dd-MM-yyyy - (HH:mm)')}"></span></h6>
                </div>
                <br>
                <div class="container">
                    <label>City:</label><br>
                    <h6><span th:text="${event.city}"></span></h6>
                </div>
                <br>
                <div class="container">
                    <label>Publisher:</label><br>
                    <h6><span th:text="${event.user.firstName+' '+event.user.lastName}"></span></h6>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <div class="form-group">
                    <input type="hidden" id="id_picture" th:field="${event.picture.id}"/>
                    <input type="hidden" id="picture" th:field="${event.picture.fileName}"/>
                    <img th:if="${event.picture.fileName != null}" class="img-thumbnail"
                         th:src="@{|http://wegiel.home.pl/ourmeetup/${event.picture.fileName}|}"/>
                    <img th:unless="${event.picture.fileName != null}" class="img-thumbnail"
                         th:src="@{|/files/nopictures.jpg|}"/>
                </div>
                <div class="row" style="margin-top:20px">

                    <form th:action="@{/signupforevent}" th:object="${user}" method="post">
                        <button type="submit" class="btn btn-primary">Sign up for Event</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <br>
        <h1>Comments</h1>
        <br>
        <div class="jumbotron">

            <div class="container">
                <table class="table">
                    <thead>
                    <tr>
                        <th> User Name </th>
                        <th> Date </th>
                        <th> Comment </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="comment:${commentlist}" th:object="${comment}">


                        <td><div class="container-sm"><span th:text="${comment.user.firstName}"></span></div></td>
                        <td>  <span th:text="${#dates.format(comment.date, 'dd-MM-yyyy - (HH:mm)')}"></span></td>
                        <td><div class="container-md"><span th:text="${comment.commentary}"></span></div></td>
                    </tr>
                    </tbody>
                </table>

        <div class="row" style="margin-top:20px">

            <form th:action="@{/addComment}" th:object="${comment}" method="post">
            <textarea rows="8" cols="150" type="text" class="form-control input-lg" placeholder="your commentary"
                      required="true" th:field="${comment.commentary}"/>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    </div>

    <div th:insert="fragments/footer :: footer"></div>
</body>
</html>